*.o
*.a
*.mak
*.swp

am_big_endian
backup-100620151536-pre-nbis.tgz
nbis_5.0.0-1_amd64.deb

an2k/include/an2k.h
an2k/src/lib/an2k/select.c
description-pak
endian.out
exports/

an2k/bin
an2k/obj
bozorth3/bin
bozorth3/obj
commonnbis/obj
ijg/src/lib/jpegb/cjpeg
ijg/src/lib/jpegb/djpeg
ijg/src/lib/jpegb/jpegtran
ijg/src/lib/jpegb/rdjpgcom
ijg/src/lib/jpegb/wrjpgcom
imgtools/bin
imgtools/obj
mindtct/bin
mindtct/obj
nfiq/bin
nfiq/obj
nfseg/bin
nfseg/obj
openjp2/src/lib/openjp2/build
pcasys/bin
pcasys/include/little.h
pcasys/obj
pcasys/src/bin/optrws/optrws.c
png/src/lib/png/pngtest
png/src/lib/zlib/Makefile
png/src/lib/zlib/example
png/src/lib/zlib/minigzip

